In [39]:
import pandas as pd
from datetime import datetime, date

In [40]:
# Đọc tập dữ liệu
df = pd.read_csv("https://raw.githubusercontent.com/lavibula/ML20222.PredictionBitcoin/main/working/Data_working.csv")
df = df.loc[:4653,:]

In [41]:

# Exclude missing values and convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')

# Get the earliest date by excluding missing values
earliest_date = df['Date'].dropna().min()

# Iterate over each row in the DataFrame
for index, row in df.iterrows():
    date = row['Date']
    # Check if the date value is missing (NaN)
    if pd.isnull(date):
        # Assign the earliest date to the missing value
        df.at[index, 'Date'] = earliest_date

# Convert the 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [42]:
df.head()

,Date,BTC_close,BTC_open,BTC_high,BTC_low,BTC_volume,Active_Addr_Cnt,Difficulty,Mean_Block_Size(in_bytes),Sum_Block_Weight,...,ETH,LTC,DOGE,XRP,GOLD,SILVER,COPPER,S&P500,DJI,JP225
0,2023-04-16,30310.3,30299.2,30545.3,30134.6,34.48,840992.0,4.788780e+13,1866594.290,495223185.0,...,2119.29,100.03,0.090465,0.52089,2015.6,25.438,NaN,NaN,NaN,NaN
1,2023-04-15,30299.6,30472.6,30586.5,30208.8,31.71,1045660.0,4.788780e+13,1839875.354,631025193.0,...,2090.59,96.66,0.088890,0.51930,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-04-14,30472.5,30387.4,30964.9,30026.0,98.38,1016042.0,4.788780e+13,1759535.436,559166432.0,...,2099.98,96.34,0.088707,0.52269,2002.2,25.460,9023.5,4137.64,33885.31,28493.47
3,2023-04-13,30387.4,29892.4,30524.1,29864.5,65.87,1009669.0,4.788780e+13,1812112.549,567094231.0,...,2012.11,94.19,0.087344,0.51244,2041.3,25.925,9058.5,4146.22,34030.34,28156.97
4,2023-04-12,29886.4,30209.8,30473.0,29679.5,78.69,1056542.0,4.788780e+13,1933495.919,635037442.0,...,1916.58,92.02,0.083398,0.50473,2010.9,25.458,8916.5,4091.95,33647.22,28082.70

In [43]:
df = df.sort_values('Date', ascending=True)

#df.head(20)

In [44]:
df_filled = df.fillna(method='ffill', axis=0)

In [45]:
print("Is There any 'NaN' value: ", df_filled.isnull().values.any())
print("Is there any duplicate value: ", df_filled.index.duplicated().any())

Is There any 'NaN' value:  True
Is there any duplicate value:  False

In [46]:
#df_filled

In [47]:
# Điền giá trị 0 vào các dữ liệu còn thiếu
df_filled_all = df_filled.fillna(0)

# Kiểm tra sự tồn tại của giá trị NaN trong DataFrame
print("Is There any 'NaN' value: ", df_filled_all.isnull().values.any())

# Kiểm tra sự tồn tại của giá trị trùng lặp trong DataFrame
print("Is there any duplicate value: ", df_filled_all.index.duplicated().any())

Is There any 'NaN' value:  False
Is there any duplicate value:  False

In [49]:
df_filled_all.to_csv("/Users/ibulmnie/Documents/GitHub/ML20222.PredictionBitcoin/working/saved_data.csv", index=False)

In [50]:
df_filled_all.head(20)

,Date,BTC_close,BTC_open,BTC_high,BTC_low,BTC_volume,Active_Addr_Cnt,Difficulty,Mean_Block_Size(in_bytes),Sum_Block_Weight,...,ETH,LTC,DOGE,XRP,GOLD,SILVER,COPPER,S&P500,DJI,JP225
4653,2010-07-20,0.1,0.1,0.1,0.1,0.26,936.0,182.0,1090.745856,789700.0,...,0.0,0.0,0.0,0.0,1191.7,17.693,0.00,1083.48,10229.96,9300.46
4652,2010-07-21,0.1,0.1,0.1,0.1,0.58,784.0,182.0,603.821256,499964.0,...,0.0,0.0,0.0,0.0,1191.8,17.803,0.00,1069.59,10120.53,9278.83
4651,2010-07-22,0.1,0.1,0.1,0.1,2.16,594.0,182.0,572.443182,403000.0,...,0.0,0.0,0.0,0.0,1195.6,18.120,7002.75,1093.67,10322.30,9220.88
4650,2010-07-23,0.1,0.1,0.1,0.1,2.40,655.0,182.0,530.932990,412004.0,...,0.0,0.0,0.0,0.0,1187.8,18.101,7018.25,1102.66,10424.62,9430.96
4649,2010-07-24,0.1,0.1,0.1,0.1,0.50,959.0,182.0,1519.539683,1148772.0,...,0.0,0.0,0.0,0.0,1187.8,18.101,7018.25,1102.66,10424.62,9430.96
4648,2010-07-25,0.1,0.1,0.1,0.1,1.55,2130.0,182.0,3224.285714,2979240.0,...,0.0,0.0,0.0,0.0,1187.8,18.101,7018.25,1102.66,10424.62,9430.96
4647,2010-07-26,0.1,0.1,0.1,0.1,0.88,1250.0,182.0,1003.164609,975076.0,...,0.0,0.0,0.0,0.0,1183.1,18.200,7136.50,1115.01,10525.43,9503.66
4646,2010-07-27,0.1,0.1,0.1,0.1,3.37,775.0,241.0,764.108434,507368.0,...,0.0,0.0,0.0,0.0,1158.0,17.626,7044.50,1113.84,10537.69,9496.85
4645,2010-07-28,0.1,0.1,0.1,0.1,4.39,664.0,244.0,4922.289308,3130576.0,...,0.0,0.0,0.0,0.0,1160.4,17.441,7156.25,1106.13,10497.88,9496.85
4644,2010-07-29,0.1,0.1,0.1,0.1,8.06,534.0,244.0,1125.455556,810328.0,...,0.0,0.0,0.0,0.0,1171.2,17.617,7216.50,1101.53,10467.16,9496.85
4643,2010-07-30,0.1,0.1,0.1,0.1,3.02,582.0,244.0,613.681319,446760.0,...,0.0,0.0,0.0,0.0,1183.9,18.020,7281.75,1101.60,10465.94,9537.30
4642,2010-07-31,0.1,0.1,0.1,0.1,4.02,479.0,244.0,473.088670,384148.0,...,0.0,0.0,0.0,0.0,1183.9,18.020,7281.75,1101.60,10465.94,9537.30
4641,2010-08-01,0.1,0.1,0.1,0.1,2.60,622.0,244.0,431.297071,412320.0,...,0.0,0.0,0.0,0.0,1183.9,18.020,7281.75,1101.60,10465.94,9537.30
4640,2010-08-02,0.1,0.1,0.1,0.1,3.60,632.0,244.0,438.012397,423996.0,...,0.0,0.0,0.0,0.0,1185.4,18.438,7493.00,1125.86,10674.38,9570.31
4639,2010-08-03,0.1,0.1,0.1,0.1,9.82,988.0,244.0,836.325991,759384.0,...,0.0,0.0,0.0,0.0,1187.5,18.440,7405.75,1120.46,10636.38,9694.01
4638,2010-08-04,0.1,0.1,0.1,0.1,3.49,715.0,244.0,476.810700,463460.0,...,0.0,0.0,0.0,0.0,1195.9,18.295,7484.00,1127.24,10680.43,9489.34
4637,2010-08-05,0.1,0.1,0.1,0.1,5.03,825.0,262.0,935.266055,815552.0,...,0.0,0.0,0.0,0.0,1199.3,18.338,7375.75,1125.81,10674.98,9653.92
4636,2010-08-06,0.1,0.1,0.1,0.1,1.40,640.0,352.0,872.537415,513052.0,...,0.0,0.0,0.0,0.0,1205.3,18.489,7348.75,1121.64,10653.56,9642.12
4635,2010-08-07,0.1,0.1,0.1,0.1,2.62,500.0,352.0,520.638710,322796.0,...,0.0,0.0,0.0,0.0,1205.3,18.489,7348.75,1121.64,10653.56,9642.12
4634,2010-08-08,0.1,0.1,0.1,0.1,2.20,581.0,352.0,528.231156,420472.0,...,0.0,0.0,0.0,0.0,1205.3,18.489,7348.75,1121.64,10653.56,9642.12

In [ ]:
data_sỏdf_filled_all

dữ liệu chúng ta lấy ETH xuất hiện từ 10/3 -> trễ vài tháng so với các kênh dữ liệu khác, nhưng mà thật ra chả ảnh hưởng nhiều

từ 6/3/2017 -> nay tất cả các cột đều full data

In [51]:
# Lọc dữ liệu từ ngày 20/07/2010 đến ngày 07/08/2015
start_date = pd.to_datetime('20/07/2010', dayfirst=True)
end_date = pd.to_datetime('10/03/2016', dayfirst=True)
filtered_df = df_filled.loc[(df_filled['Date'] >= start_date) & (df_filled['Date'] <= end_date)]

# In dữ liệu đã lọc
#filtered_df

In [52]:
# Lọc dữ liệu từ ngày 06/07/2017 đến ngày 16/04/2023
start_date = pd.to_datetime('06/07/2017', dayfirst=True)
end_date = pd.to_datetime('16/04/2023', dayfirst=True)
filtered_df_new = df_filled.loc[(df_filled['Date'] >= start_date) & (df_filled['Date'] <= end_date)]

# In dữ liệu đã lọc
filtered_df_new.tail()

,Date,BTC_close,BTC_open,BTC_high,BTC_low,BTC_volume,Active_Addr_Cnt,Difficulty,Mean_Block_Size(in_bytes),Sum_Block_Weight,...,ETH,LTC,DOGE,XRP,GOLD,SILVER,COPPER,S&P500,DJI,JP225
4,2023-04-12,29886.4,30209.8,30473.0,29679.5,78.69,1056542.0,4.788780e+13,1933495.919,635037442.0,...,1916.58,92.02,0.083398,0.50473,2010.9,25.458,8916.5,4091.95,33647.22,28082.70
3,2023-04-13,30387.4,29892.4,30524.1,29864.5,65.87,1009669.0,4.788780e+13,1812112.549,567094231.0,...,2012.11,94.19,0.087344,0.51244,2041.3,25.925,9058.5,4146.22,34030.34,28156.97
2,2023-04-14,30472.5,30387.4,30964.9,30026.0,98.38,1016042.0,4.788780e+13,1759535.436,559166432.0,...,2099.98,96.34,0.088707,0.52269,2002.2,25.460,9023.5,4137.64,33885.31,28493.47
1,2023-04-15,30299.6,30472.6,30586.5,30208.8,31.71,1045660.0,4.788780e+13,1839875.354,631025193.0,...,2090.59,96.66,0.088890,0.51930,2002.2,25.460,9023.5,4137.64,33885.31,28493.47
0,2023-04-16,30310.3,30299.2,30545.3,30134.6,34.48,840992.0,4.788780e+13,1866594.290,495223185.0,...,2119.29,100.03,0.090465,0.52089,2015.6,25.438,9023.5,4137.64,33885.31,28493.47

In [53]:
print("Is There any 'NaN' value: ", filtered_df_new.isnull().values.any())
print("Is there any duplicate value: ", filtered_df_new.index.duplicated().any())

Is There any 'NaN' value:  False
Is there any duplicate value:  False