In [43]:
# Import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from scipy import stats
import statsmodels.api as sm
import warnings
from itertools import product
from datetime import datetime
warnings.filterwarnings('ignore')
plt.style.use('seaborn-poster')
import statsmodels.graphics.tsaplots as sgt
from sklearn.preprocessing import MinMaxScaler

In [44]:
#Input data
df = pd.read_csv("https://raw.githubusercontent.com/lavibula/ML20222.PredictionBitcoin/main/data/saved_data_ASC.csv")

df

,Date,BTC_close,BTC_open,BTC_high,BTC_low,BTC_volume,Active_Addr_Cnt,Difficulty,Mean_Block_Size(in_bytes),Sum_Block_Weight,...,ETH,LTC,DOGE,XRP,GOLD,SILVER,COPPER,S&P500,DJI,JP225
0,2010-07-20,0.1,0.1,0.1,0.1,0.26,936.0,1.820000e+02,1.090746e+03,789700.0,...,0.00,0.00,0.000000,0.00000,1191.7,17.693,0.00,1083.48,10229.96,9300.46
1,2010-07-21,0.1,0.1,0.1,0.1,0.58,784.0,1.820000e+02,6.038213e+02,499964.0,...,0.00,0.00,0.000000,0.00000,1191.8,17.803,0.00,1069.59,10120.53,9278.83
2,2010-07-22,0.1,0.1,0.1,0.1,2.16,594.0,1.820000e+02,5.724432e+02,403000.0,...,0.00,0.00,0.000000,0.00000,1195.6,18.120,7002.75,1093.67,10322.30,9220.88
3,2010-07-23,0.1,0.1,0.1,0.1,2.40,655.0,1.820000e+02,5.309330e+02,412004.0,...,0.00,0.00,0.000000,0.00000,1187.8,18.101,7018.25,1102.66,10424.62,9430.96
4,2010-07-24,0.1,0.1,0.1,0.1,0.50,959.0,1.820000e+02,1.519540e+03,1148772.0,...,0.00,0.00,0.000000,0.00000,1187.8,18.101,7018.25,1102.66,10424.62,9430.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4649,2023-04-12,29886.4,30209.8,30473.0,29679.5,78.69,1056542.0,4.788780e+13,1.933496e+06,635037442.0,...,1916.58,92.02,0.083398,0.50473,2010.9,25.458,8916.50,4091.95,33647.22,28082.70
4650,2023-04-13,30387.4,29892.4,30524.1,29864.5,65.87,1009669.0,4.788780e+13,1.812113e+06,567094231.0,...,2012.11,94.19,0.087344,0.51244,2041.3,25.925,9058.50,4146.22,34030.34,28156.97
4651,2023-04-14,30472.5,30387.4,30964.9,30026.0,98.38,1016042.0,4.788780e+13,1.759535e+06,559166432.0,...,2099.98,96.34,0.088707,0.52269,2002.2,25.460,9023.50,4137.64,33885.31,28493.47
4652,2023-04-15,30299.6,30472.6,30586.5,30208.8,31.71,1045660.0,4.788780e+13,1.839875e+06,631025193.0,...,2090.59,96.66,0.088890,0.51930,2002.2,25.460,9023.50,4137.64,33885.31,28493.47
4653,2023-04-16,30310.3,30299.2,30545.3,30134.6,34.48,840992.0,4.788780e+13,1.866594e+06,495223185.0,...,2119.29,100.03,0.090465,0.52089,2015.6,25.438,9023.50,4137.64,33885.31,28493.47

In [45]:
df['Date'] = pd.to_datetime(df['Date'])
df_datetime = df['Date']

# Extract numerical columns
df_numerical = df.drop(columns=['Date'])

# Apply scaling to numerical columns
scaler = MinMaxScaler()

df_numerical_scaled = scaler.fit_transform(df_numerical)
# Combine scaled numerical data with the datetime data
df_scaled= np.insert(df_numerical_scaled, 0, df_datetime, axis=1)

In [46]:
df['Date'] = pd.to_datetime(df['Date'])
df_datetime = df['Date']

# Extract numerical columns
df_numerical = df.drop(columns=['Date'])

# Apply scaling to numerical columns
scaler = MinMaxScaler()

df_numerical_scaled = scaler.fit_transform(df_numerical)
# Combine scaled numerical data with the datetime data
df_numerical_scaled=pd.DataFrame(df_numerical_scaled)

In [47]:
df_numerical_scaled

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0.000000,0.000000,0.000000,0.000002,0.000090,0.000387,0.0,0.000266,0.000667,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.139341,0.160779,0.000000,0.009671,0.009105,0.050664
1,0.000000,0.000000,0.000000,0.000002,0.000410,0.000275,0.0,0.000074,0.000285,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.139439,0.163766,0.000000,0.005966,0.005024,0.049703
2,0.000000,0.000000,0.000000,0.000002,0.001991,0.000136,0.0,0.000062,0.000157,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.143165,0.172374,0.656057,0.012389,0.012549,0.047129
3,0.000000,0.000000,0.000000,0.000002,0.002231,0.000181,0.0,0.000045,0.000169,2.831739e-11,...,0.000000,0.000000,0.000000,0.000000,0.135517,0.171858,0.657509,0.014787,0.016365,0.056461
4,0.000000,0.000000,0.000000,0.000002,0.000330,0.000403,0.0,0.000435,0.001140,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.135517,0.171858,0.657509,0.014787,0.016365,0.056461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4649,0.442578,0.447362,0.441697,0.447419,0.078570,0.773109,1.0,0.762550,0.837243,3.539477e-02,...,0.398592,0.237888,0.121416,0.181558,0.942636,0.371630,0.835348,0.812071,0.882433,0.885056
4650,0.449997,0.442661,0.442438,0.450208,0.065742,0.738798,1.0,0.714667,0.747626,3.584547e-02,...,0.418459,0.243498,0.127160,0.184331,0.972446,0.384310,0.848651,0.826545,0.896721,0.888355
4651,0.451257,0.449992,0.448827,0.452643,0.098273,0.743463,1.0,0.693927,0.737169,4.012267e-02,...,0.436733,0.249056,0.129145,0.188018,0.934105,0.371684,0.845372,0.824257,0.891312,0.903304
4652,0.448697,0.451253,0.443342,0.455398,0.031560,0.765144,1.0,0.725619,0.831951,2.947146e-02,...,0.434781,0.249884,0.129411,0.186799,0.934105,0.371684,0.845372,0.824257,0.891312,0.903304
4653,0.448855,0.448685,0.442745,0.454280,0.034332,0.615323,1.0,0.736159,0.652828,2.262881e-02,...,0.440749,0.258596,0.131704,0.187371,0.947245,0.371086,0.845372,0.824257,0.891312,0.903304

In [48]:
df_result=pd.concat([df_datetime, df_numerical_scaled], axis=1)

In [54]:
df_result.columns=["Date","BTC_close","BTC_open","BTC_high","BTC_low","BTC_volume","Active_Addr_Cnt","Difficulty","Mean_Block_Size(in_bytes)","Sum_Block_Weight","Total_Fees(USD)","Mean_Hashrate","Xfer_Cnt","Mean_Tx_size(native_units)","ETH","LTC","DOGE","XRP","GOLD","SILVER","COPPER","S&P500","DJI","JP225"]

In [56]:
df_result

,Date,BTC_close,BTC_open,BTC_high,BTC_low,BTC_volume,Active_Addr_Cnt,Difficulty,Mean_Block_Size(in_bytes),Sum_Block_Weight,...,ETH,LTC,DOGE,XRP,GOLD,SILVER,COPPER,S&P500,DJI,JP225
0,2010-07-20,0.000000,0.000000,0.000000,0.000002,0.000090,0.000387,0.0,0.000266,0.000667,...,0.000000,0.000000,0.000000,0.000000,0.139341,0.160779,0.000000,0.009671,0.009105,0.050664
1,2010-07-21,0.000000,0.000000,0.000000,0.000002,0.000410,0.000275,0.0,0.000074,0.000285,...,0.000000,0.000000,0.000000,0.000000,0.139439,0.163766,0.000000,0.005966,0.005024,0.049703
2,2010-07-22,0.000000,0.000000,0.000000,0.000002,0.001991,0.000136,0.0,0.000062,0.000157,...,0.000000,0.000000,0.000000,0.000000,0.143165,0.172374,0.656057,0.012389,0.012549,0.047129
3,2010-07-23,0.000000,0.000000,0.000000,0.000002,0.002231,0.000181,0.0,0.000045,0.000169,...,0.000000,0.000000,0.000000,0.000000,0.135517,0.171858,0.657509,0.014787,0.016365,0.056461
4,2010-07-24,0.000000,0.000000,0.000000,0.000002,0.000330,0.000403,0.0,0.000435,0.001140,...,0.000000,0.000000,0.000000,0.000000,0.135517,0.171858,0.657509,0.014787,0.016365,0.056461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4649,2023-04-12,0.442578,0.447362,0.441697,0.447419,0.078570,0.773109,1.0,0.762550,0.837243,...,0.398592,0.237888,0.121416,0.181558,0.942636,0.371630,0.835348,0.812071,0.882433,0.885056
4650,2023-04-13,0.449997,0.442661,0.442438,0.450208,0.065742,0.738798,1.0,0.714667,0.747626,...,0.418459,0.243498,0.127160,0.184331,0.972446,0.384310,0.848651,0.826545,0.896721,0.888355
4651,2023-04-14,0.451257,0.449992,0.448827,0.452643,0.098273,0.743463,1.0,0.693927,0.737169,...,0.436733,0.249056,0.129145,0.188018,0.934105,0.371684,0.845372,0.824257,0.891312,0.903304
4652,2023-04-15,0.448697,0.451253,0.443342,0.455398,0.031560,0.765144,1.0,0.725619,0.831951,...,0.434781,0.249884,0.129411,0.186799,0.934105,0.371684,0.845372,0.824257,0.891312,0.903304
4653,2023-04-16,0.448855,0.448685,0.442745,0.454280,0.034332,0.615323,1.0,0.736159,0.652828,...,0.440749,0.258596,0.131704,0.187371,0.947245,0.371086,0.845372,0.824257,0.891312,0.903304

In [57]:

df_result.to_csv("MinMax_Normalized_data.csv")