In [25]:
import pandas as pd
from datetime import datetime, date

In [26]:
# Đọc tập dữ liệu
df = pd.read_csv("https://raw.githubusercontent.com/lavibula/ML20222.PredictionBitcoin/main/working/Data_working.csv")
df = df.loc[:4654,:]

In [27]:

# Exclude missing values and convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')

# Get the earliest date by excluding missing values
earliest_date = df['Date'].dropna().min()

# Iterate over each row in the DataFrame
for index, row in df.iterrows():
    date = row['Date']
    # Check if the date value is missing (NaN)
    if pd.isnull(date):
        # Assign the earliest date to the missing value
        df.at[index, 'Date'] = earliest_date

# Convert the 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [28]:
df.head()

,Date,BTC_close,BTC_open,BTC_high,BTC_low,BTC_volume,Active_Addr_Cnt,Difficulty,Mean_Block_Size(in_bytes),Sum_Block_Weight,...,ETH,LTC,DOGE,XRP,GOLD,SILVER,COPPER,S&P500,DJI,JP225
0,2023-04-16,30310.3,30299.2,30545.3,30134.6,34.48,840992.0,4.788780e+13,1866594.290,495223185.0,...,2119.29,100.03,0.090465,0.52089,2015.6,25.438,NaN,NaN,NaN,NaN
1,2023-04-15,30299.6,30472.6,30586.5,30208.8,31.71,1045660.0,4.788780e+13,1839875.354,631025193.0,...,2090.59,96.66,0.088890,0.51930,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-04-14,30472.5,30387.4,30964.9,30026.0,98.38,1016042.0,4.788780e+13,1759535.436,559166432.0,...,2099.98,96.34,0.088707,0.52269,2002.2,25.460,9023.5,4137.64,33885.31,28493.47
3,2023-04-13,30387.4,29892.4,30524.1,29864.5,65.87,1009669.0,4.788780e+13,1812112.549,567094231.0,...,2012.11,94.19,0.087344,0.51244,2041.3,25.925,9058.5,4146.22,34030.34,28156.97
4,2023-04-12,29886.4,30209.8,30473.0,29679.5,78.69,1056542.0,4.788780e+13,1933495.919,635037442.0,...,1916.58,92.02,0.083398,0.50473,2010.9,25.458,8916.5,4091.95,33647.22,28082.70

In [29]:
df = df.sort_values('Date', ascending=True)

#df.head(20)

In [30]:
df_filled = df.fillna(method='ffill', axis=0)

In [31]:
print("Is There any 'NaN' value: ", df_filled.isnull().values.any())
print("Is there any duplicate value: ", df_filled.index.duplicated().any())

Is There any 'NaN' value:  True
Is there any duplicate value:  False

In [32]:
#df_filled

In [21]:
df_filled.to_csv("/Users/ibulmnie/Documents/GitHub/ML20222.PredictionBitcoin/working/saved_data.csv", index=False)

In [39]:
df_filled_all = df_filled.fillna(method="ffill", inplace=True)
# Điền giá trị 0 vào các dữ liệu còn thiếu
df_filled_all = df.fillna(0)

# Kiểm tra sự tồn tại của giá trị NaN trong DataFrame
print("Is There any 'NaN' value: ", df_filled_all.isnull().values.any())

# Kiểm tra sự tồn tại của giá trị trùng lặp trong DataFrame
print("Is there any duplicate value: ", df_filled_all.index.duplicated().any())

In [40]:
df_filled_all.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [36]:
print("Is There any 'NaN' value: ", df_filled_all.isnull().values.any())
print("Is there any duplicate value: ", df_filled_all.index.duplicated().any())

AttributeError: 'NoneType' object has no attribute 'isnull'

dữ liệu chúng ta lấy ETH xuất hiện từ 10/3 -> trễ vài tháng so với các kênh dữ liệu khác, nhưng mà thật ra chả ảnh hưởng nhiều

6/3/2017 tất cả các cột đều full data

In [22]:
# Lọc dữ liệu từ ngày 19/07/2010 đến ngày 07/08/2015
start_date = pd.to_datetime('19/07/2010', dayfirst=True)
end_date = pd.to_datetime('10/03/2016', dayfirst=True)
filtered_df = df_filled.loc[(df_filled['Date'] >= start_date) & (df_filled['Date'] <= end_date)]

# In dữ liệu đã lọc
#filtered_df

In [23]:
# Lọc dữ liệu từ ngày 06/07/2017 đến ngày 16/04/2023
start_date = pd.to_datetime('06/07/2017', dayfirst=True)
end_date = pd.to_datetime('16/04/2023', dayfirst=True)
filtered_df_new = df_filled.loc[(df_filled['Date'] >= start_date) & (df_filled['Date'] <= end_date)]

# In dữ liệu đã lọc
filtered_df_new.tail()

,Date,BTC_close,BTC_open,BTC_high,BTC_low,BTC_volume,Active_Addr_Cnt,Difficulty,Mean_Block_Size(in_bytes),Sum_Block_Weight,...,ETH,LTC,DOGE,XRP,GOLD,SILVER,COPPER,S&P500,DJI,JP225
4,2023-04-12,29886.4,30209.8,30473.0,29679.5,78.69,1056542.0,4.788780e+13,1933495.919,635037442.0,...,1916.58,92.02,0.083398,0.50473,2010.9,25.458,8916.5,4091.95,33647.22,28082.70
3,2023-04-13,30387.4,29892.4,30524.1,29864.5,65.87,1009669.0,4.788780e+13,1812112.549,567094231.0,...,2012.11,94.19,0.087344,0.51244,2041.3,25.925,9058.5,4146.22,34030.34,28156.97
2,2023-04-14,30472.5,30387.4,30964.9,30026.0,98.38,1016042.0,4.788780e+13,1759535.436,559166432.0,...,2099.98,96.34,0.088707,0.52269,2002.2,25.460,9023.5,4137.64,33885.31,28493.47
1,2023-04-15,30299.6,30472.6,30586.5,30208.8,31.71,1045660.0,4.788780e+13,1839875.354,631025193.0,...,2090.59,96.66,0.088890,0.51930,2002.2,25.460,9023.5,4137.64,33885.31,28493.47
0,2023-04-16,30310.3,30299.2,30545.3,30134.6,34.48,840992.0,4.788780e+13,1866594.290,495223185.0,...,2119.29,100.03,0.090465,0.52089,2015.6,25.438,9023.5,4137.64,33885.31,28493.47

In [24]:
print("Is There any 'NaN' value: ", filtered_df_new.isnull().values.any())
print("Is there any duplicate value: ", filtered_df_new.index.duplicated().any())

Is There any 'NaN' value:  False
Is there any duplicate value:  False